<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-us</title>
</head>

<body>
    <div class="row">
        <div class="about-left col-5">
            <div class="card-ui-l">
                <img class="image1" src="assets/about1.png" alt="">
                <br>
                Hey there,
                <br>
                <br>
                This is Gaurav Hariyani
                <br>
                <br>
                Welcome to GameStop Canada Customer Service !!
                <br>
                <br>
                <br>
                At GameStop Canada, we want your experience to be absolutely amazing.
                <br>
                <br>
                We strive to make sure you can find what you need easily and without hassle! We understand that this
                does
                not always go according to plan. We want to know if you have any issues with your online order, your
                edge
                account or when you visit one of our stores.
                <br>
                <br>
                We're here for you!
                <br>
            </div>
        </div>
        <div class="about-right col-5">
            <div class="card-ui-r">
                <div align="center">
                <h3 class="title">Humber College</h3>
                <!-- <img class="image2" src="assets/about2.png" alt=""> -->
                <br>
                    <iframe class="iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.120331810738!2d-79.60915482332263!3d43.72882704753538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3a5391c12321%3A0x747f0c3b5cdecaa0!2sHumber%20College!5e0!3m2!1sen!2sca!4v1681412971200!5m2!1sen!2sca"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
               
            </div>
        </div>
    </div>

</body>

</html>